/* hides all ssds by default*/
.charsheet .ssd {
    position: absolute;
}
.charsheet .ssd-sf {
    display: none;
    width: 448px;
    height: 861px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_sf_v2.png");
}
.charsheet .ssd-hca {
    display: none;
    width: 696px;
    height: 1063px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_hca_v5.png");
}
.charsheet .ssd-hdd {
    display: none;
    width: 612px;
    height: 719px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_hdd_v1.png");
}
.charsheet .ssd-gca {
    display: none;
    width: 642px;
    height: 945px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/gorn_cruiser_bg.png");
}
/* show the selected ssds */
.charsheet .ssd-typetoggle[value="SF"] ~ div.ssd-sf,
.charsheet .ssd-typetoggle[value="HCA"] ~ div.ssd-hca,
.charsheet .ssd-typetoggle[value="HDD"] ~ div.ssd-hdd,
.charsheet .ssd-typetoggle[value="GCA"] ~ div.ssd-gca {
    display: block;
}
.ssd-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}
input.ssd-number {
    width: 25px;
    height: 25px;
}
input.ssd-box {
    transform: scale(1.8);
    opacity: .50;
}
div.ssd-box {
    width: 25px;
    height: 25px;
}
input.ssd-box:checked {
    opacity: 0.75;
}
div.ssd-col-3 {
    width: 25px;
    height: 75px;
}
div.ssd-col-2 {
    width: 25px;
    height: 50px;
}
div.ssd-col-1 {
    width: 25px;
    height: 25px;
}

/*SF Components*/
div.ssd-sf .shield-1 {
    top: 35px;
    left: 200px;
}
div.ssd-sf .shield-2 {
    top: 125px;
    left: 365px;
}
div.ssd-sf .shield-3 {
    top: 480px;
    left: 365px;
}
div.ssd-sf .shield-4 {
    top: 745px;
    left: 200px;
}
div.ssd-sf .shield-5 {
    top: 480px;
    left: 35px;
}
div.ssd-sf .shield-6 {
    top: 125px;
    left: 35px;
}
div.ssd-sf .brdg {
    top: 110px;
    left: 175px;
}
div.ssd-sf .emer {
    top: 110px;
    left: 225px;
}
div.ssd-sf .hull-lf {
    top: 160px;
    left: 150px;
}
div.ssd-sf .hull-rf {
    top: 160px;
    left: 250px;
}
div.ssd-sf .ph-3 {
    top: 189px;
    left: 217px;
}
div.ssd-sf .tran {
    top: 235px;
    left: 150px;
}
div.ssd-sf .btty {
    top: 235px;
    left: 200px;
}
div.ssd-sf .shtl {
    top: 235px;
    left: 250px;
}
div.ssd-sf .cargo {
    top: 480px;
    left: 200px;
}
div.ssd-sf .warp-lr {
    top: 640px;
    left: 150px;
}
div.ssd-sf .imp {
    top: 640px;
    left: 200px;
}
div.ssd-sf .warp-rr {
    top: 640px;
    left: 250px;
}
div.ssd-sf .sensor {
    top: 821px;
    left: 53px;
}
div.ssd-sf .scanner {
    top: 821px;
    left: 154px;
}
div.ssd-sf .dam-con {
    top: 821px;
    left: 255px;
}
div.ssd-sf .ex-dam {
    top: 815px;
    left: 350px;
}
/*End SF Components*/

/*HCA Components*/
div.ssd-hca .shield-1 {
    top: 25px;
    left: 365px;
}
div.ssd-hca .shield-2 {
    top: 100px;
    left: 620px;
}
div.ssd-hca .shield-3 {
    top: 545px;
    left: 620px;
}
div.ssd-hca .shield-4 {
    top: 835px;
    left: 365px;
}
div.ssd-hca .shield-5 {
    top: 545px;
    left: 110px;
}
div.ssd-hca .shield-6 {
    top: 100px;
    left: 110px;
}
div.ssd-hca .phot-fa {
    width: 100px;
    height: 25px;
    top: 169px;
    left: 345px;
}
div.ssd-hca .btty-f {
    top: 215px;
    left: 290px;
}
div.ssd-hca .tran-f {
    top: 215px;
    left: 440px;
}
div.ssd-hca .ph-1-fh {
    top: 232px;
    left: 370px;
}
div.ssd-hca .ph-1-lf {
    width: 25px;
    height: 50px;
    top: 270px;
    left: 244px;
}
div.ssd-hca .lab-lf {
    top: 265px;
    left: 290px;
}
div.ssd-hca .lab-rf {
    top: 265px;
    left: 440px;
}
div.ssd-hca .ph-1-rf {
    width: 25px;
    height: 50px;
    top: 270px;
    left: 522px;
}
div.ssd-hca .bridge {
    top: 305px;
    left: 365px;
}
div.ssd-hca .hull-lf {
    top: 340px;
    left: 255px;
}
div.ssd-hca .hull-rf {
    top: 340px;
    left: 480px;
}
div.ssd-hca .emer {
    top: 380px;
    left: 365px;
}
div.ssd-hca .impulse {
    top: 430px;
    left: 365px;
}
div.ssd-hca .aux-con {
    top: 520px;
    left: 365px;
}
div.ssd-hca .btty-r {
    top: 545px;
    left: 305px;
}
div.ssd-hca .trac {
    top: 545px;
    left: 425px;
}
div.ssd-hca .prb {
    top: 620px;
    left: 305px;
}
div.ssd-hca .tran-r {
    top: 620px;
    left: 425px;
}
div.ssd-hca .warp-lr {
    top: 670px;
    left: 225px;
}
div.ssd-hca .hull-lr {
    top: 670px;
    left: 305px;
}
div.ssd-hca .shuttle {
    top: 670px;
    left: 365px;
}
div.ssd-hca .hull-rr {
    top: 670px;
    left: 425px;
}
div.ssd-hca .warp-rr {
    top: 670px;
    left: 505px;
}
div.ssd-hca .ph-3-lr {
    top: 751px;
    left: 319px;
}
div.ssd-hca .ph-3-rr {
    top: 751px;
    left: 445px;
}
div.ssd-hca .sensor {
    width: 25px;
    height: 125px;
    top: 81px;
    left: 41px;
}
div.ssd-hca .scanner {
    width: 25px;
    height: 125px;
    top: 283px;
    left: 41px;
}
div.ssd-hca .dam-con {
    width: 25px;
    height: 119px;
    top: 485px;
    left: 41px;
}
div.ssd-hca .ex-dam {
    top: 685px;
    left: 25px;
}
/*End HCA Components*/

