/* hides all ssds by default*/
.charsheet .ssd {
    position: absolute;
}
.charsheet .ssd-sf {
    display: none;
    width: 448px;
    height: 861px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_sf_v2.png");
}
.charsheet .ssd-fca {
    display: none;
    width: 696px;
    height: 1063px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_fca_v1.png");
}
.charsheet .ssd-fdd {
    display: none;
    width: 612px;
    height: 719px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_fdd_v1.png");
}
.charsheet .ssd-gca {
    display: none;
    width: 642px;
    height: 945px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/gorn_cruiser_bg.png");
}
/* show the selected ssds */
.charsheet .ssd-typetoggle[value="SF"] ~ div.ssd-sf,
.charsheet .ssd-typetoggle[value="FCA"] ~ div.ssd-fca,
.charsheet .ssd-typetoggle[value="FDD"] ~ div.ssd-fdd,
.charsheet .ssd-typetoggle[value="GCA"] ~ div.ssd-gca {
    display: block;
}
.ssd-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}
input.ssd-number {
    width: 25px;
    height: 25px;
}
input.ssd-box {
    transform: scale(1.8);
    opacity: .50;
}
div.ssd-box {
    width: 25px;
    height: 25px;
}
input.ssd-box:checked {
    opacity: 0.75;
}
div.ssd-col-3 {
    width: 25px;
    height: 75px;
}
div.ssd-col-2 {
    width: 25px;
    height: 50px;
}
div.ssd-col-1 {
    width: 25px;
    height: 25px;
}

/*SF Components*/
div.ssd-sf .shield-1 {
    top: 35px;
    left: 200px;
}
div.ssd-sf .shield-2 {
    top: 125px;
    left: 365px;
}
div.ssd-sf .shield-3 {
    top: 480px;
    left: 365px;
}
div.ssd-sf .shield-4 {
    top: 745px;
    left: 200px;
}
div.ssd-sf .shield-5 {
    top: 480px;
    left: 35px;
}
div.ssd-sf .shield-6 {
    top: 125px;
    left: 35px;
}
div.ssd-sf .brdg {
    top: 110px;
    left: 175px;
}
div.ssd-sf .emer {
    top: 110px;
    left: 225px;
}
div.ssd-sf .hull-lf {
    top: 160px;
    left: 150px;
}
div.ssd-sf .hull-rf {
    top: 160px;
    left: 250px;
}
div.ssd-sf .ph-3 {
    top: 189px;
    left: 217px;
}
div.ssd-sf .tran {
    top: 235px;
    left: 150px;
}
div.ssd-sf .btty {
    top: 235px;
    left: 200px;
}
div.ssd-sf .shtl {
    top: 235px;
    left: 250px;
}
div.ssd-sf .cargo {
    top: 480px;
    left: 200px;
}
div.ssd-sf .warp-lr {
    top: 640px;
    left: 150px;
}
div.ssd-sf .imp {
    top: 640px;
    left: 200px;
}
div.ssd-sf .warp-rr {
    top: 640px;
    left: 250px;
}
div.ssd-sf .sensor {
    top: 821px;
    left: 53px;
}
div.ssd-sf .scanner {
    top: 821px;
    left: 154px;
}
div.ssd-sf .dam-con {
    top: 821px;
    left: 255px;
}
div.ssd-sf .ex-dam {
    top: 815px;
    left: 350px;
}
/*End SF Components*/

/*FDD Components*/
div.ssd-fdd .shield-1 {
    top: 25px;
    left: 320px;
}
div.ssd-fdd .shield-2 {
    top: 100px;
    left: 540px;
}
div.ssd-fdd .shield-3 {
    top: 425px;
    left: 540px;
}
div.ssd-fdd .shield-4 {
    top: 660px;
    left: 320px;
}
div.ssd-fdd .shield-5 {
    top: 425px;
    left: 100px;
}
div.ssd-fdd .shield-6 {
    top: 100px;
    left: 100px;
}
div.ssd-fdd .photon-fa {
    top: 124px;
    left: 301px;
}
div.ssd-fdd .btty {
    top: 170px;
    left: 245px;
}
div.ssd-fdd .ph-1-fh {
    top: 173px;
    left: 326px;
}
div.ssd-fdd .tran {
    top: 170px;
    left: 395px;
}
div.ssd-fdd .ph-1-lf {
    width: 25px;
    height: 50px;
    top: 220px;
    left: 205px;
}
div.ssd-fdd .lab-lf {
    top: 220px;
    left: 245px;
}
div.ssd-fdd .bridge {
    top: 220px;
    left: 320px;
}
div.ssd-fdd .lab-rf {
    top: 220px;
    left: 395px;
}
div.ssd-fdd .ph-1-rf {
    width: 25px;
    height: 50px;
    top: 220px;
    left: 472px;
}
div.ssd-fdd .trac {
    top: 265px;
    left: 320px;
}
div.ssd-fdd .hull-lf {
    top: 290px;
    left: 210px;
}
div.ssd-fdd .hull-rf {
    top: 290px;
    left: 430px;
}
div.ssd-fdd .aux {
    top: 315px;
    left: 295px;
}
div.ssd-fdd .prb {
    top: 315px;
    left: 345px;
}
div.ssd-fdd .emer {
    top: 365px;
    left: 295px;
}
div.ssd-fdd .shtl {
    top: 365px;
    left: 345px;
}
div.ssd-fdd .impulse {
    top: 415px;
    left: 320px;
}
div.ssd-fdd .warp {
    top: 515px;
    left: 320px;
}
div.ssd-fdd .sensor {
    width: 25px;
    height: 150px;
    top: 62px;
    left: 34px;
}
div.ssd-fdd .scanner {
    width: 25px;
    height: 150px;
    top: 257px;
    left: 34px;
}
div.ssd-fdd .dam-con {
    width: 25px;
    height: 100px;
    top: 453px;
    left: 34px;
}
div.ssd-fdd .ex-dam {
    top: 595px;
    left: 15px;
}
/*End FDD Components*/

/*FCA Components*/
div.ssd-fca .shield-1 {
    top: 25px;
    left: 365px;
}
div.ssd-fca .shield-2 {
    top: 100px;
    left: 620px;
}
div.ssd-fca .shield-3 {
    top: 545px;
    left: 620px;
}
div.ssd-fca .shield-4 {
    top: 835px;
    left: 365px;
}
div.ssd-fca .shield-5 {
    top: 545px;
    left: 110px;
}
div.ssd-fca .shield-6 {
    top: 100px;
    left: 110px;
}
div.ssd-fca .phot-fa {
    width: 100px;
    height: 25px;
    top: 169px;
    left: 345px;
}
div.ssd-fca .btty-f {
    top: 215px;
    left: 290px;
}
div.ssd-fca .tran-f {
    top: 215px;
    left: 440px;
}
div.ssd-fca .ph-1-fh {
    top: 232px;
    left: 370px;
}
div.ssd-fca .ph-1-lf {
    width: 25px;
    height: 50px;
    top: 270px;
    left: 244px;
}
div.ssd-fca .lab-lf {
    top: 265px;
    left: 290px;
}
div.ssd-fca .lab-rf {
    top: 265px;
    left: 440px;
}
div.ssd-fca .ph-1-rf {
    width: 25px;
    height: 50px;
    top: 270px;
    left: 522px;
}
div.ssd-fca .bridge {
    top: 305px;
    left: 365px;
}
div.ssd-fca .hull-lf {
    top: 340px;
    left: 255px;
}
div.ssd-fca .hull-rf {
    top: 340px;
    left: 480px;
}
div.ssd-fca .emer {
    top: 380px;
    left: 365px;
}
div.ssd-fca .impulse {
    top: 430px;
    left: 365px;
}
div.ssd-fca .aux-con {
    top: 520px;
    left: 365px;
}
div.ssd-fca .btty-r {
    top: 545px;
    left: 305px;
}
div.ssd-fca .trac {
    top: 545px;
    left: 425px;
}
div.ssd-fca .prb {
    top: 620px;
    left: 305px;
}
div.ssd-fca .tran-r {
    top: 620px;
    left: 425px;
}
div.ssd-fca .warp-lr {
    top: 670px;
    left: 225px;
}
div.ssd-fca .hull-lr {
    top: 670px;
    left: 305px;
}
div.ssd-fca .shuttle {
    top: 670px;
    left: 365px;
}
div.ssd-fca .hull-rr {
    top: 670px;
    left: 425px;
}
div.ssd-fca .warp-rr {
    top: 670px;
    left: 505px;
}
div.ssd-fca .ph-3-lr {
    top: 751px;
    left: 319px;
}
div.ssd-fca .ph-3-rr {
    top: 751px;
    left: 445px;
}
div.ssd-fca .sensor {
    width: 25px;
    height: 125px;
    top: 81px;
    left: 41px;
}
div.ssd-fca .scanner {
    width: 25px;
    height: 125px;
    top: 283px;
    left: 41px;
}
div.ssd-fca .dam-con {
    width: 25px;
    height: 119px;
    top: 485px;
    left: 41px;
}
div.ssd-fca .ex-dam {
    top: 685px;
    left: 25px;
}
/*End FCA Components*/

