/* hides all ssds by default*/
.charsheet .ssd {
    position: absolute;
}
.charsheet .ssd-sf {
    display: none;
    width: 448px;
    height: 861px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_sf.png");
}
.charsheet .ssd-hca {
    display: none;
    width: 750px;
    height: 1000px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/ssd_hca.png");
}
.charsheet .ssd-gca {
    display: none;
    width: 642px;
    height: 945px;
    background-image: url("https://raw.githubusercontent.com/lpainton/starfleetbattles_designer_edition/master/gorn_cruiser_bg.png");
}
/* show the selected ssds */
.charsheet .ssd-typetoggle[value="HCA"] ~ div.ssd-hca,
.charsheet .ssd-typetoggle[value="GCA"] ~ div.ssd-gca,
.charsheet .ssd-typetoggle[value="SF"] ~ div.ssd-sf {
    display: block;
}
.ssd-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}
input.ssd-number {
    width: 25px;
    height: 25px;
}
input.ssd-box {
    transform: scale(1.8);
    opacity: .75;
}
div.ssd-box {
    width: 25px;
    height: 25px;
}
input.ssd-box:checked {
    opacity: 0.75;
}
div.ssd-col-3 {
    width: 25px;
    height: 75px;
}
div.ssd-col-2 {
    width: 25px;
    height: 50px;
}
div.ssd-col-1 {
    width: 25px;
    height: 25px;
}

/*SF Components*/
div.ssd-sf .shield-1 {
    top: 35px;
    left: 200px;
}
div.ssd-sf .shield-2 {
    top: 125px;
    left: 365px;
}
div.ssd-sf .shield-3 {
    top: 480px;
    left: 365px;
}
div.ssd-sf .shield-4 {
    top: 745px;
    left: 200px;
}
div.ssd-sf .shield-5 {
    top: 480px;
    left: 35px;
}
div.ssd-sf .shield-6 {
    top: 125px;
    left: 35px;
}
div.ssd-sf .brdg {
    top: 110px;
    left: 175px;
}
div.ssd-sf .emer {
    top: 110px;
    left: 225px;
}
div.ssd-sf .hull-lf {
    top: 160px;
    left: 150px;
}
div.ssd-sf .hull-rf {
    top: 160px;
    left: 250px;
}
div.ssd-sf .phas {
    top: 185px;
    left: 200px;
}
div.ssd-sf .tran {
    top: 235px;
    left: 150px;
}
div.ssd-sf .btty {
    top: 235px;
    left: 200px;
}
div.ssd-sf .shtl {
    top: 235px;
    left: 250px;
}
div.ssd-sf .cargo {
    top: 480px;
    left: 200px;
}
div.ssd-sf .warp-lr {
    top: 640px;
    left: 150px;
}
div.ssd-sf .imp {
    top: 640px;
    left: 200px;
}
div.ssd-sf .warp-rr {
    top: 640px;
    left: 250px;
}
div.ssd-sf .sensor {
    top: 821px;
    left: 53px;
}
div.ssd-sf .scanner {
    top: 821px;
    left: 154px;
}
div.ssd-sf .dam-con {
    top: 821px;
    left: 255px;
}
div.ssd-sf .ex-dam {
    top: 815px;
    left: 350px;
}
/*End SF Components*/

/*HCA Components*/
div.ssd-hca .shield-1 {
    width: 250px;
    height: 75px;
    top: 108px;
    left: 250px;
}
div.ssd-hca .shield-2 {
    width: 50px;
    height: 275px;
    top: 234px;
    left: 603px;
}
div.ssd-hca .shield-3 {
    width: 50px;
    height: 225px;
    top: 590px;
    left: 590px;
}
div.ssd-hca .shield-4 {
    width: 250px;
    height: 48px;
    top: 833px;
    left: 181px;
}
div.ssd-hca .shield-5 {
    width: 50px;
    height: 233px;
    top: 570px;
    left: 37px;
}
div.ssd-hca .shield-6 {
    width: 50px;
    height: 280px;
    top: 210px;
    left: 35px;
}
div.ssd-hca .sensor {
    width: 25px;
    height: 119px;
    top: 103px;
    left: 119px;
}
div.ssd-hca .scanner {
    width: 25px;
    height: 119px;
    top: 103px;
    left: 455px;
}
div.ssd-hca .damage-control {
    width: 25px;
    height: 119px;
    top: 475px;
    left: 120px;
}
div.ssd-hca .excess-damage {
    width: 25px;
    height: 119px;
    top: 475px;
    left: 455px;
}
div.ssd-hca .left-warp-engine {
    width: 75px;
    height: 119px;
    top: 666px;
    left: 133px;
}
div.ssd-hca .right-warp-engine {
    width: 75px;
    height: 119px;
    top: 664px;
    left: 396px;
}
div.ssd-hca .photon {
    width: 100px;
    height: 25px;
    top: 210px;
    left: 251px;
}
div.ssd-hca .left-phas {
    width: 25px;
    height: 50px;
    top: 306px;
    left: 155px;
}
div.ssd-hca .battery {
    width: 50px;
    height: 25px;
    top: 282px;
    left: 203px;
}
div.ssd-hca .forward-phas {
    width: 50px;
    height: 25px;
    top: 282px;
    left: 275px;
}
div.ssd-hca .lab {
    width: 50px;
    height: 96px;
    top: 257px;
    left: 347px;
}
div.ssd-hca .forward-trans {
    width: 50px;
    height: 25px;
    top: 331px;
    left: 203px;
}
div.ssd-hca .bridge {
    width: 50px;
    height: 25px;
    top: 331px;
    left: 275px;
}
div.ssd-hca .right-phas {
    width: 25px;
    height: 50px;
    top: 306px;
    left: 419px;
}
div.ssd-hca .left-saucer-hull {
    width: 75px;
    height: 75px;
    top: 379px;
    left: 155px;
}
div.ssd-hca .emer-bridge {
    width: 50px;
    height: 25px;
    top: 426px;
    left: 275px;
}
div.ssd-hca .right-saucer-hull {
    width: 75px;
    height: 75px;
    top: 378px;
    left: 372px;
}
div.ssd-hca .impulse {
    width: 100px;
    height: 25px;
    top: 475px;
    left: 252px;
}
div.ssd-hca .aux-con {
    width: 50px;
    height: 25px;
    top: 545px;
    left: 276px;
}
div.ssd-hca .btty {
    width: 25px;
    height: 50px;
    top: 570px;
    left: 228px;
}
div.ssd-hca .trac {
    width: 25px;
    height: 50px;
    top: 570px;
    left: 348px;
}
div.ssd-hca .probe {
    width: 25px;
    height: 25px;
    top: 643px;
    left: 228px;
}
div.ssd-hca .aft-trans {
    width: 25px;
    height: 25px;
    top: 642px;
    left: 348px;
}
div.ssd-hca .left-secondary-hull {
    width: 25px;
    height: 50px;
    top: 690px;
    left: 229px;
}
div.ssd-hca .shuttle {
    width: 50px;
    height: 50px;
    top: 690px;
    left: 276px;
}
div.ssd-hca .right-secondary-hull {
    width: 25px;
    height: 50px;
    top: 689px;
    left: 348px;
}
/*End HCA Components*/

